.vscode/settings.json
/build
/third-party/opencv
unity_augmented_hands/Assets/Plugins/Windows/x64/*
/debug
/benchmark
resource/hand_capture
resource/calibrations/cam_calibration/*.png
*.ini
third-party/imgui/examples
third-party/imgui/docs
resource/GenericHand.blend1
